<% layout("/layouts/boilerplate") -%>
    <div class="text-center mt-5">
        <h1 class="display-3 fw-bold">TASKIFY</h1>
        <p class="lead mt-3">
            Simple task management made easy.
        </p>
        <a href="/tasks" class="btn btn-dark btn-lg mt-4">
            View Tasks
        </a>
    </div>